@model IEnumerable<Stream>
@{
    ViewData["Title"] = "Manage Streams";
}

<div class="card">
    <div class="content">

        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Category</th>
                    <th>Status</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var record in Model)
                {
                    string stateClass = "danger";
                    string iconName = null;
                    int currentStreamState = (int)StreamState.Live;

                    if (record.State == StreamState.Live)
                    {
                        stateClass = "success";
                    }

                    if (record.State == StreamState.Live)
                    {
                        iconName = "pause";
                        currentStreamState = (int)StreamState.Stopped;
                    }
                    else if (record.State == StreamState.Stopped)
                    {
                        iconName = "play";
                        currentStreamState = (int)StreamState.Live;
                    }
                    <tr>
                        <td>@record.Name</td>
                        <td>@record.Category.Name</td>
                        <td id="state-@record.Id">
                            <i class="fa fa-circle text-@stateClass"></i> @record.State
                        </td>
                        <td>
                            <button id="btn-@record.Id"
                                    class="stream-state-btn btn btn-secondary btn-fill"
                                    data-stream-id="@record.Id"
                                    data-stream-state="@currentStreamState"
                                    title="Start / Stop Stream">
                                <i class="fas fa-@iconName"></i>
                            </button>
                            <a class="btn btn-info btn-fill" asp-action="Details" asp-route-id="@record.Id" title="Details"><i class="fas fa-info-circle"></i></a>
                            <a class="btn btn-warning btn-fill" asp-action="Edit" asp-route-id="@record.Id" title="Edit"><i class="fas fa-pencil-alt"></i></a>
                            <form asp-action="Delete"
                                  asp-route-id="@record.Id"
                                  style="display:inline"
                                  onsubmit="return confirm('Are you sure you want to proceed?')">
                                <button class="btn btn-danger btn-fill" title="Delete">
                                    <i class="fa fa-trash"></i>
                                </button>
                            </form>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    </div>
</div>

@section Scripts {
    <script src="~/lib/signalr/dist/browser/signalr.min.js"></script>
    <script>
        window.addEventListener('load', function () {
            var connection = new signalR.HubConnectionBuilder().withUrl("/stream-status-hub").build();
            connection.on("Update", function (data) {
                var btn = $(`#btn-${data.sourceId}`);
                var stateIndicator = $(`#state-${data.sourceId}`);
                btn.removeAttr("disabled");
                if (data.state === 1) {
                    stateIndicator.html('<i class="fa fa-circle text-success"></i> Live');
                    btn.attr("data-stream-state", "0").html('<i class="fa fa-pause"></i>');
                } else if (data.state === 0) {
                    stateIndicator.html('<i class="fa fa-circle text-danger"></i> Stopped');
                    btn.attr("data-stream-state", "1").html('<i class="fa fa-play"></i>');
                }
            });
            connection.start();
            $(".stream-state-btn").on("click", function () {
                var streamId = parseInt($(this).attr("data-stream-id"));
                var streamState = parseInt($(this).attr("data-stream-state"));
                $(this).attr("disabled", "disabled").html('<i class="fa fa-fw fa-spinner fa-pulse"></i>');
                connection.invoke("Update", streamId, streamState);
            });
        });
    </script>
}
