@model IEnumerable<AppUser>
@{
    ViewData["Title"] = "Manage Resellers";
}

<div class="card">
    <div class="content">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Credit</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var record in Model)
                {
                    <tr>
                        <td>@record.Name</td>
                        <td>@record.Email</td>
                        <td>@record.Credit</td>
                        <td>
                            <a class="btn btn-warning btn-fill" asp-action="Edit" asp-route-id="@record.Id" title="Edit"><i class="fas fa-edit"></i></a>
                            <form asp-action="Delete"
                                  asp-route-id="@record.Id"
                                  style="display:inline"
                                  onsubmit="return confirm('Are you sure you want to proceed?')">
                                <button class="btn btn-danger btn-fill" title="Delete">
                                    <i class="fas fa-trash"></i>
                                </button>
                            </form>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
